.wrapperUser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.wrapperUserImgButton {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.wrapperUserImgButton img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wrapperUserImgButton button {
    width: 80px;
    height: 20px;
    padding: 2px;
    border-radius: 3px;
}

.unFollow {
    background-color: lightgray;;
    border: 1px solid lightgray;
}

.follow {
    background-color: #fedaf86e;;
    border: 1px solid red;
}

.wrapperInfoUser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
