.nav {
    grid-area: n;
    background-color: #f42156b5;
}

.nav li {
    list-style: none;
    padding: 10px;

}

.nav a {
    font-size: 22px;
}

.default {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    color: black;
}
